In [1]:
import numpy as np
import pandas as pd

In [2]:
X=pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv',
header=None,
              na_values='?'
             )

In [3]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [4]:
columns=['surgery?', 'Age','rectal temperature', 'pulse', 'respiratory rate', 
         'temperature of extremitie', 'pain', 'outcome']

In [5]:
X=X[[0,1,3,4,5,6,10,22]]
X.columns = columns
X.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremitie,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [6]:
X.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremitie,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [7]:
# мода
X.mode()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremitie,pain,outcome
0,1.0,1,38.0,48.0,20.0,3.0,3.0,1.0

In [8]:
# считаем квартили
"""первый квартиль"""
Q1=X.quantile(0.25)
Q1

surgery?                      1.0
Age                           1.0
rectal temperature           37.8
pulse                        48.0
respiratory rate             18.5
temperature of extremitie     1.0
pain                          2.0
outcome                       1.0
Name: 0.25, dtype: float64

In [9]:
"""третий квартиль"""
Q3=X.quantile(0.75)
Q3

surgery?                      2.0
Age                           1.0
rectal temperature           38.5
pulse                        88.0
respiratory rate             36.0
temperature of extremitie     3.0
pain                          4.0
outcome                       2.0
Name: 0.75, dtype: float64

In [10]:
"""Размах"""
IOR=Q3-Q1
IOR

surgery?                      1.0
Age                           0.0
rectal temperature            0.7
pulse                        40.0
respiratory rate             17.5
temperature of extremitie     2.0
pain                          2.0
outcome                       1.0
dtype: float64

In [11]:
"""Нижний выброс"""
outlier_lower_boundary=Q1-1.5*IOR
outlier_lower_boundary

surgery?                     -0.50
Age                           1.00
rectal temperature           36.75
pulse                       -12.00
respiratory rate             -7.75
temperature of extremitie    -2.00
pain                         -1.00
outcome                      -0.50
dtype: float64

In [12]:
"""Верхний выброс"""
outlier_upper_boundary=Q3+1.5*IOR
outlier_upper_boundary

surgery?                       3.50
Age                            1.00
rectal temperature            39.55
pulse                        148.00
respiratory rate              62.25
temperature of extremitie      6.00
pain                           7.00
outcome                        3.50
dtype: float64

In [13]:
"""Проверим есть ли выбросы по столбцам"""
for col in X:
    v=X[col]
    print(col)
    outliers=v[(v<outlier_lower_boundary[col])| (v>outlier_upper_boundary[col])]
    if len(outliers) == 0 :
        print("no outliers")
    else:
        print(outliers)
    print()

surgery?
no outliers

Age
3      9
9      9
13     9
16     9
23     9
39     9
41     9
55     9
74     9
75     9
82     9
103    9
109    9
135    9
191    9
212    9
227    9
229    9
244    9
252    9
255    9
262    9
275    9
287    9
Name: Age, dtype: int64

rectal temperature
20     39.9
44     35.4
54     40.3
75     39.7
80     36.4
91     40.3
99     39.6
118    36.5
141    36.0
238    36.1
251    36.6
259    40.8
281    40.0
298    36.5
Name: rectal temperature, dtype: float64

pulse
3      164.0
41     150.0
55     160.0
255    184.0
275    150.0
Name: pulse, dtype: float64

respiratory rate
3      84.0
39     96.0
41     72.0
82     80.0
84     80.0
103    68.0
106    96.0
120    66.0
125    68.0
186    90.0
208    80.0
229    70.0
244    88.0
255    84.0
265    68.0
269    90.0
295    70.0
Name: respiratory rate, dtype: float64

temperature of extremitie
no outliers

pain
no outliers

outcome
no outliers

In [14]:
#считаем пропуски по дата фрейму построчно, axis=0
X.isna().sum(axis=0)

surgery?                      1
Age                           0
rectal temperature           60
pulse                        24
respiratory rate             58
temperature of extremitie    56
pain                         55
outcome                       1
dtype: int64

In [17]:
X.isna().mean(axis=0)

surgery?                     0.003333
Age                          0.000000
rectal temperature           0.200000
pulse                        0.080000
respiratory rate             0.193333
temperature of extremitie    0.186667
pain                         0.183333
outcome                      0.003333
dtype: float64

In [18]:
X[X.outcome.isna()]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremitie,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [19]:
X.dropna(subset= ['surgery?', 'outcome'], inplace=True)

In [20]:
X[X.outcome.isna()]

Empty DataFrame
Columns: [surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremitie, pain, outcome]
Index: []

In [21]:
X.isna().sum(axis=0)

surgery?                      0
Age                           0
rectal temperature           60
pulse                        24
respiratory rate             58
temperature of extremitie    56
pain                         55
outcome                       0
dtype: int64

In [22]:
"""для категориальной переменной pain сделаем анализ"""
X.pain.value_counts()

3.0    67
2.0    59
5.0    42
4.0    38
1.0    38
Name: pain, dtype: int64

In [23]:
X.pain.mode().squeeze() # вывод моды по pain

3.0

In [24]:
X.pain=X.pain.fillna(X.pain.mode().squeeze()) # выыведем все пропуски по значению мода, в столбце pain
X.pain

0      5.0
1      3.0
2      3.0
3      2.0
4      3.0
      ...
295    2.0
296    4.0
297    4.0
298    3.0
299    3.0
Name: pain, Length: 299, dtype: float64

In [25]:
X.isna().sum(axis=0)

surgery?                      0
Age                           0
rectal temperature           60
pulse                        24
respiratory rate             58
temperature of extremitie    56
pain                          0
outcome                       0
dtype: int64

In [26]:
"""для количественно переменной pulse сделаем анализ"""

'для количественно переменной pulse сделаем анализ'

In [27]:
X.pulse=X.pulse.fillna(X.pulse.median())

In [28]:
#X.pulse.plot.hist(bins=30)

In [29]:
X.isna().sum(axis=0)

surgery?                      0
Age                           0
rectal temperature           60
pulse                         0
respiratory rate             58
temperature of extremitie    56
pain                          0
outcome                       0
dtype: int64

In [30]:
"""Заполняем пропуски с rectal temperature"""
X.groupby('surgery?')['rectal temperature'].value_counts().unstack().T.fillna('-')

surgery?             1.0   2.0
rectal temperature
35.4                 1.0     -
36.0                   -   1.0
36.1                   -   1.0
36.4                 1.0     -
36.5                 2.0     -
36.6                   -   1.0
36.8                 1.0     -
36.9                   -   1.0
37.0                 1.0   1.0
37.1                 3.0     -
37.2                 3.0   4.0
37.3                 4.0   2.0
37.4                 3.0     -
37.5                 5.0   7.0
37.6                 5.0   2.0
37.7                 4.0   3.0
37.8                11.0   6.0
37.9                 3.0   4.0
38.0                13.0  12.0
38.1                11.0   1.0
38.2                11.0   5.0
38.3                11.0   7.0
38.4                 7.0   4.0
38.5                10.0   9.0
38.6                 3.0   9.0
38.7                 4.0   3.0
38.8                 4.0   2.0
38.9                 3.0   1.0
39.0                 1.0   3.0
39.1                 1.0   1.0
39.2                 5.0     -
39.3                 4.0     -
39.4                 2.0   1.0
39.5                   -   4.0
39.6                   -   1.0
39.7                 1.0     -
39.9                 1.0     -
40.0                   -   1.0
40.3                   -   2.0
40.8                 1.0     -

In [31]:
"""Заполняем пропуски с respiratory rate"""
X.groupby('surgery?')['respiratory rate'].median()

surgery?
1.0    28.0
2.0    24.0
Name: respiratory rate, dtype: float64

In [32]:
resp_rate_medians=X.groupby('surgery?')['respiratory rate'].median()

In [33]:
for s, rate_med in resp_rate_medians.items():
    X.loc[X['surgery?']==s, 'respiratory rate']=rate_med

In [34]:
X.isna().sum()

surgery?                      0
Age                           0
rectal temperature           60
pulse                         0
respiratory rate              0
temperature of extremitie    56
pain                          0
outcome                       0
dtype: int64

In [35]:
"""Заполняем пропуски с rectal temperature"""
rect_temperature_medians=X.groupby('surgery?')['rectal temperature'].median()

In [36]:
for s, rect_med in resp_rate_medians.items():
    X.loc[X['surgery?']==s, 'rectal temperature']=rect_med

In [37]:
X.isna().sum()

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremitie    56
pain                          0
outcome                       0
dtype: int64

In [38]:
X.isna().sum(axis=0)

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremitie    56
pain                          0
outcome                       0
dtype: int64

In [39]:
"""Заполняем пропуски с temperature of extremitie"""
Extreme_temperature= X.groupby('surgery?')['temperature of extremitie'].median()

In [40]:
for s, extr_med in Extreme_temperature.items():
    X.loc[X['surgery?']==s, 'temperature of extremitie']=extr_med

In [41]:
X.isna().sum()

surgery?                     0
Age                          0
rectal temperature           0
pulse                        0
respiratory rate             0
temperature of extremitie    0
pain                         0
outcome                      0
dtype: int64

In [42]:
type(X)

pandas.core.frame.DataFrame

In [44]:
X.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremitie,pain,outcome
0,2.0,1,24.0,66.0,24.0,2.0,5.0,2.0
1,1.0,1,28.0,88.0,28.0,3.0,3.0,3.0
2,2.0,1,24.0,40.0,24.0,2.0,3.0,1.0
3,1.0,9,28.0,164.0,28.0,3.0,2.0,2.0
4,2.0,1,24.0,104.0,24.0,2.0,3.0,2.0

In [43]:
for i in range(1):    
    display(X.head())

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremitie,pain,outcome
0,2.0,1,24.0,66.0,24.0,2.0,5.0,2.0
1,1.0,1,28.0,88.0,28.0,3.0,3.0,3.0
2,2.0,1,24.0,40.0,24.0,2.0,3.0,1.0
3,1.0,9,28.0,164.0,28.0,3.0,2.0,2.0
4,2.0,1,24.0,104.0,24.0,2.0,3.0,2.0

In [190]:
"""Вывод в улучшенном виде один прогон тк указан ранж=1""" 
for i in range(1):    
    display(X.head())

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremitie,pain,outcome
0,2.0,1,24.0,66.0,24.0,2.0,5.0,2.0
1,1.0,1,28.0,88.0,28.0,3.0,3.0,3.0
2,2.0,1,24.0,40.0,24.0,2.0,3.0,1.0
3,1.0,9,28.0,164.0,28.0,3.0,2.0,2.0
4,2.0,1,24.0,104.0,24.0,2.0,3.0,2.0